h1 {
  font-family: impact, charcoal, sans-serif;
  font-weight: bold;
  color: #e0b0ff;
  font-size:42px;
}
h2 {
  font-family: impact, charcoal, sans-serif;
  color: #e0b0ff;
  font-size:28px;
}
p {
  font-family: "Lucida Console", Courier, sans-serif;
  text-align: justify;
  font-size: 18px;
}
