h1 {
  font-family: papyrus;
  font-weight: extrabold;
  color: #ff14d4;
  font-size:42px;
}
h2 {
  font-family: papyrus;
  color: #ff14d4;
  font-size:28px;
}
p {
  font-family: 1.2em "Fira Sans", sans-serif;
  text-align: justify;
  font-size: 20px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}
html {
  background-color: #d4ff14;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
